<!DOCTYPE html>
<html>
<head>
	<title>Blog v 1</title>
</head>
<body>
<h3>Welcome to my blog.</h3>
<h3>Please find all my blog posts here.</h3>

<ul id="articles">
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article), class: 'article_title' %><br />
			<%= article.title %><br />
			<%= article.body %><br />
		</li>
	<% end %>
	<%= link_to 'Create a new article', new_article_path, class: 'new_article' %>
</ul>
</body>
</html>